<h1><%= @restaurant.name%> </h1>



  <%= @restaurant.category%>
<br>
  <%= @restaurant.phone_number %>
<br>

<div>
  <% if @restaurant.reviews.empty? %>
  <%= 'no reviews' %>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
    <%= review.content %> <%= review.rating %>

    <% end %>
  <% end %>

</div>

<%= link_to 'add review', new_restaurant_review_path(@restaurant) %>

<br>

<%= link_to 'Go back', restaurants_path %>
